# INDIVIDUAL ASSIGNMENT

## How many rows and columns reflected on dataset file IMDB-database-update.csv?

In [3]:
import pandas as pd

data=pd.read_csv('https://raw.githubusercontent.com/scalabretta/GroupProject--IMDB/master/Dataset/IMDB-database.csv',encoding="latin1")

print("number of rows = "+str(data.shape[0])+" and number of columns = "+str(data.shape[1]))

number of rows = 3781 and number of columns = 32

## What are the top 3 movies with highest nett profit in 2013?

In [4]:
data[data["title_year"]==2013].sort_values("net_USD",ascending=False)[["movie_title","net_USD"]].head(3)

                          movie_title    net_USD
1614  The Hunger Games: Catching Fire  294645577
236                   Despicable Me 2  292049635
57                             Frozen  250736600

# What are the top 3 movies with highest gross profit in 2009?

In [5]:
data[data["title_year"]==2009].sort_values("gross_USD",ascending=False)[["movie_title","net_USD"]].head(3)

                                 movie_title    net_USD
0                                     Avatar  523505847
19       Transformers: Revenge of the Fallen  202076689
3094  Harry Potter and the Half-Blood Prince   51956980

## How many non-english movies are in the dataset?

In [16]:
print(data[data["language"]!="English"]["movie_ID"].count())

153

## What are top 3 languages in the dataset aside English (based on number of movies)?

In [15]:
non_english=data[data["language"]!="English"]["language"].value_counts()
non_english.sort_values(ascending=False).head(3)

French      33
Spanish     23
Mandarin    14
Name: language, dtype: int64

## What are the top 3 countries with the highest nett profit in all dataset times?

In [14]:
country_max_net=data[["country","net_USD"]].groupby(["country"]).max()
country_max_net.sort_values("net_USD",ascending=False).head(3)

               net_USD
country
USA          523505847
Japan        248505540
New Zealand  220837577

## What are the average budget of all movies in dataset in 2013?

In [13]:
data[data["title_year"]==2013]["budget_USD"].mean()

51069610.77439024

##  What are the average budget of all movies in dataset in 2014?

In [12]:
data[data["title_year"]==2014]["budget_USD"].mean()

49919006.62251656

## Which one is higher, average budget of all movies in dataset in 2014 or 2013?

2013 (see number 7 for 2013 and number 8 for 2014)

##  What movie that resulted highest nett profit of all dataset times? How much did the movie make?

In [11]:
print(data[data["net_USD"]==data["net_USD"].max()]["movie_title"])

0    Avatar
Name: movie_title, dtype: object